apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
    name: {{ username }}
spec:
    groups:
    - system:authenticated
    request: {{ lookup('file', lookup('vars', 'csr_path')) | b64encode }}
    signerName: kubernetes.io/kube-apiserver-client
    usages:
    - client auth
